version: "3"
services:
  database:
    image: library/postgres:13
    restart: on-failure
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./postgres/:/docker-entrypoint-initdb.d/

  gateway:
    build:
      context: .
      args:
        service: gateway
      dockerfile: Dockerfile
    depends_on:
      - museum
      - exhibition
      - picture
      - user
      - statistics
    environment:
      PORT: 8080
    ports:
      - 8080:8080
    volumes: 
      - ./pictures/:/pictures/:rw
      - ./videos/:/videos/:rw

  museum:
    build:
      context: .
      args:
        service: museum
      dockerfile: Dockerfile
    depends_on:
      - database
      - queue
    environment:
      DATABASE_URL: "postgres://postgres:postgres@database:5432/postgres"
      PORT: 8081

  exhibition:
    build:
      context: .
      args:
        service: exhibition
      dockerfile: Dockerfile
    depends_on:
      - database
      - queue
    environment:
      DATABASE_URL: "postgres://postgres:postgres@database:5432/postgres"
      PORT: 8082

  picture:
    build:
      context: .
      args:
        service: picture
      dockerfile: Dockerfile
    depends_on:
      - database
      - queue
    environment:
      DATABASE_URL: "postgres://postgres:postgres@database:5432/postgres"
      PORT: 8083

  user:
    build:
      context: .
      args:
        service: user
      dockerfile: Dockerfile
    depends_on:
      - database
      - queue
    environment:
      DATABASE_URL: "postgres://postgres:postgres@database:5432/postgres"
      PORT: 8000
    ports:
      - 8000:8000

  statistics:
    build:
      context: .
      args:
        service: statistics
      dockerfile: Dockerfile
    depends_on:
      - database
      - queue
    environment:
      DATABASE_URL: "postgres://postgres:postgres@database:5432/postgres"
      PORT: 8084

  queue:
    image: redis:7-alpine
    restart: always
    command: redis-server --save 20 1 --loglevel warning
    volumes: 
      - cache:/data

volumes:
  db-data:
  cache:
